#root {
  width: 100vw;
  text-align: center;
  box-sizing: border-box;
  place-items: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--- Header ----*/
.header-components{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
  flex-wrap: wrap;
}

.logo-holder{
width: 20%;
}

.open-bmg{
  background-image: url('https://cdn.pixabay.com/photo/2017/07/29/13/06/beer-2551430_960_720.jpg');
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  place-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-wrap: wrap;
  padding-top: 5em;
  padding-bottom: 7em;
  padding-left: 1em;
  padding-right: 1em;

}

.open-bmg h1{
  z-index: 100;
  margin-bottom: 1em;
}

.open-bmg p{
  z-index: 100;
}

.main-about{
  
  display: grid;
  grid-template-rows:repeat(2,1fr) ;
  row-gap: 20px;
  width: 100%;
  
}

.logo-img{
width: 100%;
}

.links-holder{
  display: flex;
  width: 90%;
  justify-content: space-between;

}

.header-links{
  width: 50%;
}

.links-tab{
  display: flex;
}




/*--- Nav bar ---*/
.nav-flex{
  display: flex;
  flex-direction: column;
  width: 87%;
  border-radius: 20px;
  height: 100%;
  justify-content: space-between;
  padding:  10px 0px 10px;
}



.nav-flex-title{
  display: flex;
  width: 90%;

align-items: center;

padding-left: 10pxpx;
 
}

.nav-flex-title:hover{
 cursor: pointer;
 background-color:  rgb(185, 221, 209) !important;
 color: gray !important;
}
/*
.active{
background-color: gray;
 border-radius: 1em;
 color: white;
}
*/
.nav-flex-title h2 {
  margin-left: 1em ;

}


.nav-flex-title p {
  margin-left: 1em ; 
  
}

/*---main---*/
.main-img{
  height: 100%;
  width: 100%;
  place-items: center;
  display: flex;
  align-items: center;

}
.gas-plant-holder{
  width: 50%;
  height: 100%;
  
}

.gas-plant{
  width: 100%;
  height: 100%;
  border-radius: 5%;
  
}

.intro-talk{
  width: 50%;
  padding-top: 40px;
}

.intro-talk h1{
    margin-bottom: 15px;
}

.intro-talk p{

  color: gray;
}

.hero-banner{
  width: 200px;
  border-radius: 150px;
  background-color:  rgb(185, 221, 209);
  margin-bottom: 45px;
}

.more-info{
  display: grid;
   grid-template-rows: repeat(2,1fr);
  grid-auto-rows: minmax(100px,auto);
  padding-top: 4em;
}

.more-info-2{
  display: grid;
   grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 2px;
  row-gap: 2px;
  height: 100%;
}

.about-us{
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
  border-right: 1px solid black;
  height: 100%;
}

.our-job {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: minmax(100px,auto);
  color: white;
  padding-top: 5em;
}
.our-job button{
  margin-left: auto;
  
}

.our-job h3{
  margin-bottom: 5em;
}



.we-produce{
  background-image: url('https://cdn.pixabay.com/photo/2017/06/28/06/04/beer-2449887_1280.jpg');
  background-size: contain;
  place-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  width: 100%;
  padding:2em;
  
  
}

.we-produce h3,.nav-flex-title,button{
  z-index: 100;
}

.we-about{
 background-image: url('https://cdn.pixabay.com/photo/2012/11/28/10/32/welding-67640_960_720.jpg');
  background-size: contain;
}

.we-contract{
 background-image: url('https://cdn.pixabay.com/photo/2019/11/29/11/38/machine-4661126_960_720.jpg');
  background-size: contain;
}

.about-h2{
  display: flex;
  padding-left: 10px;
}
 .spacer{
  width: 70%;
  height: 1%;
  background-color:black ;
 }




.card-place{
  place-items: center;
  width: 95%;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 100%;
}

.song-tile{
  width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 2px;
  row-gap: 2px;
  height: 100%;
  
} 

.song-list{
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 221, 209);
  width:95%;
  place-items: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
  border-radius: 1em;
  height: 100%;
  
}

.songImage{
 width: 70%;
 height: 50%;
 margin-bottom: 15px;
 
}

.menu-icon{
  display: none;
}

.song-image{
  width: 80%;
}

/*----footer----*/
.footer-format{
   width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 5px;
  height: 100%;
  background-color: aliceblue !important ;
  
  padding-bottom: 40px;
}

.bpart{
  place-items: center;
}

.section-list{
  place-items: center;
}

.what-we-do{
  
  
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.trusted-grid{
   width: 100%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 2px;
  height: 100%;
}
.box{
  place-items: center;
  border-right: 1px solid black;
}

.but{
  width: 30%;
}

.providing{
  border-radius: 10px;
  border: 0.2em solid  rgb(185, 221, 209) ;
  padding: 5px;
  margin-right: 0.4em;
  margin-left: 0.1em;
}

.section-list h2{
  margin-bottom: 30px;
}

.apart{
  margin-bottom: 50px;
} 


.service-main{
  background-image: url('https://cdn.pixabay.com/photo/2019/11/19/14/08/tool-equipment-4637526_960_720.jpg');
}

.about-main{
  background-image: url('https://cdn.pixabay.com/photo/2012/03/04/00/14/care-21822_1280.jpg');
}

.contact-main{
  background-image: url('');
}

.shade-back{
  width:100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background:#121212;
  opacity: 0.8;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

@media (max-width:468px){
 


 .main-about{
  display: flex;
  flex-direction: column;
  width: 100%;
 }
.hero-banner p{
  display: none;
}

.menu-icon{
  display: block;
  margin-right: 40px;
  
  border-radius: 5px;
  width: 40px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border: 0.2em solid  rgb(185, 221, 209) ;
}

.intro-talk{
  width: 100%;
  margin-bottom: 20px;
}





.links-holder{
  display: none;
}

.gas-plant-holder{
  width: 100%;
} 

 .main-img{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
 }

.links-holder-small{
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  
width: 200%;
padding-top: 10px;
padding-bottom: 10px;
  
}

 .links-tab{
  padding-left: 10px;
  
  border-bottom: 1px solid gray;
  
  display: flex;
  
  align-items: center;

 }

 .links-tab:hover{
  background-color: gray ;
 }

 .links-tab span{
  margin-left: 20px;
 }

 .song-tile{
   grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px,auto);
 }

 .footer-format{
   grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px,auto);
 }

 

 .song-image{
  width: 40%;
 }
 .song-list{
   padding-bottom: 0.1em;
   padding-top:0.2em

 }

 .logo-holder{
  
width: 45%;
}
.about-us{
  width: 90%;
  border: none;
}

.what-we-do{
 flex-direction: column;
 width: 100%; 
 flex-wrap: wrap;
 
}

.trusted-grid{
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px,auto);
  border-top: 1px solid black;
  border-right: none;
}

.more-info-2{
  grid-template-columns: repeat(1,1fr);
  grid-auto-rows: minmax(100px,auto);
}

.our-job{
    grid-template-columns: repeat(1,1fr);
  grid-template-rows: minmax(100px,auto);
}
}